<h1 class="content">Overview</h1>
<div class="flex-container">
    <div class="flex-item">
        <mat-card>
            <app-pie-chart [data]="dataSourceAsset"></app-pie-chart>
            <br>
            <div class="chart-title">Asset Allocation</div>
            <app-table [dataSource]="dataSourceAsset" [displayedColumns]="displayedColumns"></app-table>
        </mat-card>
    </div>
    <div class="flex-item">
        <mat-card>
            <app-pie-chart [data]="data2"></app-pie-chart>
            <br>
            <div class="chart-title">Liabilitties Allocation</div>
            <app-table [dataSource]="data2" [displayedColumns]="displayedColumns"></app-table>
        </mat-card>
    </div>
    <div class="flex-item">
        <mat-card>
            <app-pie-chart [data]="data2"></app-pie-chart>
            <br>
            <div class="chart-title">Liquidity Profile</div>
            <app-table [dataSource]="data2" [displayedColumns]="displayedColumns"></app-table>
        </mat-card>
    </div>
</div>

<div>
    <app-multi-line-chart [lineData]="lineChart" [lineData2]="lineChart2"></app-multi-line-chart>
</div>

