<div class="flex-container-main">
    <div style="width: 5em; background-color: aquamarine;">Menu</div>
    <div class="flex-item">

        <div class="flex-container">
            <div class="flex-item">
                <div class="pie-chart-wrapper"><app-pie-chart [data]="data"></app-pie-chart></div>
            </div>
            <div class="flex-item">
                <div class="pie-chart-wrapper"><app-pie-chart [data]="data2"></app-pie-chart></div>
            </div>
            <div class="flex-item">
                <div class="pie-chart-wrapper"><app-pie-chart [data]="data3"></app-pie-chart></div>
            </div>
        </div>

        <div>
            <app-multi-line-chart [lineData]="lineChart" [lineData2]="lineChart2"></app-multi-line-chart>
        </div>

    </div>
</div>

