:root {
    --white: #ffffff;
    --almost-white: #f7f9f7;
    --red: #e11b22;
    --charcoal: #264653;
    --font-light-grey: #b2b2b2;
    --font-dark-grey: #222725;
    --border-grey: #efefef;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-container-main{
    display: flex;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

svg {
    margin: auto;
    display: block;
    max-width: 800px;
}

.content{
    padding: 0 0.5em;
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
    .flex-container{
      display: block;
    }
}